/*
.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
*/

/* ---- particles.js container ---- */
a{
   text-decoration: none;
}
body{
  height:100%
  margin 0;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: repeat-y;
  position:absolute;
  padding: 0;
  margin: 0;
  
}

@keyframes example {
  from {background-color: black;}
  to {background-color: white;}


 }
 @keyframes example2 {
  from {color: black;}
  to {color: white;}


 }
  @keyframes example3 {
  from {background-color: #FF00B5;}
  to {background-color: #FF0036;}


 }
#caja2{
  margin-top: 22.7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 55px;
  text-align: center;
  position:relative;
  align-items: center;
  overflow: auto;
  
  animation-name: example3;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
   border-radius: 8px;

}
#letras{
    animation-name: example2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; 


  
}
