
body{
    background-color: rgb(231, 145, 145);
    font-family: sans-serif;

}
/*
Content - The content of the box, where text and images appear
Contenido de la caja

Padding - Clears an area around the content. The padding is transparent
Limpia el contenido de alrededor, transparente 

Border - A border that goes around the padding and content
Alrededor del padding y contenido 

Margin - Clears an area outside the border. The margin is transparent
Limpia alredor de borde
*/
.cointener{

    display: flex;

    justify-content: center;
    align-items: center;

    height: 200px;
    border: 3px solid rgba(0, 128, 0, 0);

}
ul{
    display: flex;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    
    
    justify-content: center;
    align-items: center;
    
    height: auto;
    margin: 0 30px;
    border: 3px solid rgba(0, 128, 0, 0);
}

a {
    
    text-decoration: none;
    color: black;
    width: 210px;
    
    align-items: center;
    background: #fff;
    text-align: center;
    padding:30px 0;
    /*
    matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
    transform: matrix(1,-0.7,1,1,0,0);
    
    transition: 1s;
    box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}


span{
    background-color: rgba(255, 0, 0, 0);
    letter-spacing: 4px;
    transition: 2s;
    
}
ul li a::before
{
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height: 100%;
    width: 20px;
    transform: matrix(1, -1, 0, 1, 0, 0);
    background-color: rgb(161, 161, 161);
}
ul li a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    transform: matrix(1, 0, -1, 1, 0, 0);
    background-color: rgb(77, 77, 77);
}
ul li a:hover 
{
    
    transform: matrix(1, -0.7, 1, 1, 0, -50);
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
    transition: 2s;
    
}

ul li:hover a
{
    background-color: #f7543e;
    
}
ul li:hover a::before {
    background-color: rgb(210, 59, 40);
}
ul li:hover a::after {
    background-color: #b81500;
}


